* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header  {
    height: 50vh;
    background-color: orange;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}